- Spark – Default interface for Scala and Java
- PySpark – Python interface for Spark
- SparklyR – R interface for Spark.

# RDD Transformations and Actions

In this lecture we will begin to delve deeper into using Spark and Python. Please view the video lecture for a full explanation.

## Important Terms

Let's quickly go over some important terms:

Term                   |Definition
----                   |-------
RDD                    |Resilient Distributed Dataset
Transformation         |Spark operation that produces an RDD
Action                 |Spark operation that produces a local object
Spark Job              |Sequence of transformations on data with a final action

## Creating an RDD

There are two common ways to create an RDD:

Method                      |Result
----------                               |-------
`sc.parallelize(array)`                  |Create RDD of elements of array (or list)
`sc.textFile(path/to/file)`                      |Create RDD of lines from file

## RDD Transformations

We can use transformations to create a set of instructions we want to preform on the RDD (before we call an action and actually execute them).

Transformation Example                          |Result
----------                               |-------
`filter(lambda x: x % 2 == 0)`           |Discard non-even elements
`map(lambda x: x * 2)`                   |Multiply each RDD element by `2`
`map(lambda x: x.split())`               |Split each string into words
`flatMap(lambda x: x.split())`           |Split each string into words and flatten sequence
`sample(withReplacement=True,0.25)`      |Create sample of 25% of elements with replacement
`union(rdd)`                             |Append `rdd` to existing RDD
`distinct()`                             |Remove duplicates in RDD
`sortBy(lambda x: x, ascending=False)`   |Sort elements in descending order

## RDD Actions

Once you have your 'recipe' of transformations ready, what you will do next is execute them by calling an action. Here are some common actions:

Action                             |Result
----------                             |-------
`collect()`                            |Convert RDD to in-memory list 
`take(3)`                              |First 3 elements of RDD 
`top(3)`                               |Top 3 elements of RDD
`takeSample(withReplacement=True,3)`   |Create sample of 3 elements with replacement
`sum()`                                |Find element sum (assumes numeric elements)
`mean()`                               |Find element mean (assumes numeric elements)
`stdev()`                              |Find element deviation (assumes numeric elements)

- SparkSession can be created using a builder() or newSession() methods of the SparkSession.

Spark session internally creates a sparkContext variable of SparkContext. 

You can create multiple SparkSession objects but only one SparkContext per JVM. 

- In case if you want to create another new SparkContext you should stop existing Sparkcontext (using stop()) before creating a new one.

____
# Examples

Now the best way to show all of this is by going through examples! We'll first review a bit by creating and working with a simple text file, then we will move on to more realistic data, such as customers and sales data.

### Creating an RDD from a text file:

** Creating the textfile **

In [1]:
%%writefile example25.txt
first 
second line
the third line
then a fourth line
and five line

Overwriting example25.txt

Now let's perform some transformations and actions on this text file:

In [2]:
from pyspark import SparkContext


# Import PySpark
#from pyspark.sql import SparkSession

#Create SparkSession
#spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

In [3]:
sc = SparkContext()

# In case if you want to create another new SparkContext 
# you should stop existing Sparkcontext (using stop()) 
# before creating a new one.
#

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/nestor/opt/anaconda3/envs/PySpark/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.2.1.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/01/17 19:54:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/01/17 19:54:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.


.

- it’s parallelize() method is used to create an RDD from a list.

- RDD can also be created from a text file using textFile() function of the SparkContext.

.

In [4]:
# Show RDD
sc.textFile('example25.txt')

example25.txt MapPartitionsRDD[1] at textFile at NativeMethodAccessorImpl.java:0

In [5]:
# Save a reference to this RDD
# Create RDD of lines from file example
text_rdd = sc.textFile('example25.txt')

# text_rdd is a RDD

In [6]:
# Map a function (or lambda expression) to each line
# Then collect the results.

# this is a ** RDD transformations **
#text_rdd.map(lambda line: line.split()).collect()

#text_rdd.map(lambda line: line.split())
words = text_rdd.map(lambda line: line.split())
# list per lines with each words

# Trasformation:Split each string into words and flatten sequence
# map(lambda line: line.split())

# Action	Result
# collect()	Convert RDD to in-memory list

In [7]:
words.collect() # list lines in txt file

[['first'],
 ['second', 'line'],
 ['the', 'third', 'line'],
 ['then', 'a', 'fourth', 'line'],
 ['and', 'five', 'line']]

## Map vs flatMap

In [8]:
# Collect everything as a single flat map
#text_rdd.flatMap(lambda line: line.split()).collect()
text_rdd.flatMap(lambda line: line.split())
# list the words

PythonRDD[5] at RDD at PythonRDD.scala:53

In [9]:
text_rdd.collect()

['first ',
 'second line',
 'the third line',
 'then a fourth line',
 'and five line']

# RDDs and Key Value Pairs

Now that we've worked with RDDs and how to aggregate values with them, we can begin to look into working with Key Value Pairs. In order to do this, let's create some fake data as a new text file.

This data represents some services sold to customers for some SAAS business.

In [10]:
%%writefile services.txt
#EventId    Timestamp    #Customer   State    ServiceID    Amount
201       10/13/2017      100       NY       131          100.00
204       10/18/2017      700       TX       129          450.00
202       10/15/2017      203       CA       121          200.00
206       10/19/2017      202       CA       131          500.00
203       10/17/2017      101       NY       173          750.00
205       10/19/2017      202       TX       121          200.00

Overwriting services.txt

In [11]:
services = sc.textFile('services.txt') 
# # Create RDD of lines from file

In [12]:
services.take(3)
# First 3 elements of RDD

['#EventId    Timestamp    #Customer   State    ServiceID    Amount',
 '201       10/13/2017      100       NY       131          100.00',
 '204       10/18/2017      700       TX       129          450.00']

In [13]:
services.map(lambda x: x.split()) 
# this is a transformation and need to add an action

PythonRDD[9] at RDD at PythonRDD.scala:53

In [14]:
services.map(lambda x: x.split()).take(3)
# this is a transformation: split in words
# and action: take 3 first elements

[['#EventId', 'Timestamp', '#Customer', 'State', 'ServiceID', 'Amount'],
 ['201', '10/13/2017', '100', 'NY', '131', '100.00'],
 ['204', '10/18/2017', '700', 'TX', '129', '450.00']]

Let's remove that first hash-tag!

In [15]:
# transformation: map to lambda chose '#' x[1:] then
# action: collect the results

services.map(lambda x: x[1:] if x[0]=='#' else x).collect()

['EventId    Timestamp    #Customer   State    ServiceID    Amount',
 '201       10/13/2017      100       NY       131          100.00',
 '204       10/18/2017      700       TX       129          450.00',
 '202       10/15/2017      203       CA       121          200.00',
 '206       10/19/2017      202       CA       131          500.00',
 '203       10/17/2017      101       NY       173          750.00',
 '205       10/19/2017      202       TX       121          200.00']

In [16]:
services.map(lambda x: x[1:] if x[0]=='#' else x).map(lambda x: x.split()).collect()
# transformation 1: delete "#"
# transformation 2: split in words
# finally, action: collect results

[['EventId', 'Timestamp', '#Customer', 'State', 'ServiceID', 'Amount'],
 ['201', '10/13/2017', '100', 'NY', '131', '100.00'],
 ['204', '10/18/2017', '700', 'TX', '129', '450.00'],
 ['202', '10/15/2017', '203', 'CA', '121', '200.00'],
 ['206', '10/19/2017', '202', 'CA', '131', '500.00'],
 ['203', '10/17/2017', '101', 'NY', '173', '750.00'],
 ['205', '10/19/2017', '202', 'TX', '121', '200.00']]

## Using Key Value Pairs for Operations

Let us now begin to use methods that combine lambda expressions that use a ByKey argument. These ByKey methods will assume that your data is in a Key,Value form. 


For example let's find out the total sales per state:

In [17]:
# From Previous
cleanServ = services.map(lambda x: x[1:] if x[0]=='#' else x).map(lambda x: x.split())

In [18]:
cleanServ.collect()

[['EventId', 'Timestamp', '#Customer', 'State', 'ServiceID', 'Amount'],
 ['201', '10/13/2017', '100', 'NY', '131', '100.00'],
 ['204', '10/18/2017', '700', 'TX', '129', '450.00'],
 ['202', '10/15/2017', '203', 'CA', '121', '200.00'],
 ['206', '10/19/2017', '202', 'CA', '131', '500.00'],
 ['203', '10/17/2017', '101', 'NY', '173', '750.00'],
 ['205', '10/19/2017', '202', 'TX', '121', '200.00']]

In [19]:
# Let's start by practicing grabbing fields: state (3 element), amount(last element) columns

cleanServ.map(lambda lst: (lst[3],lst[-1])).collect() # columns
# trasnformation: select the two columns
# action: collect the result

[('State', 'Amount'),
 ('NY', '100.00'),
 ('TX', '450.00'),
 ('CA', '200.00'),
 ('CA', '500.00'),
 ('NY', '750.00'),
 ('TX', '200.00')]

In [20]:
# Continue with reduceByKey
# Notice how it assumes that the first item is the key!
# reducebykey assume that the data is 2 pair
# assume the firts columns is key: state
# lambda apply over the second column: Amount
# and fanally, the action: collect results
# later, it will need convert to float
cleanServ.map(lambda lst: (lst[3],lst[-1]))\
         .reduceByKey(lambda amt1,amt2 : amt1+amt2)\
         .collect()

[('State', 'Amount'),
 ('NY', '100.00750.00'),
 ('TX', '450.00200.00'),
 ('CA', '200.00500.00')]

Uh oh! Looks like we forgot that the amounts are still strings! Let's fix that:

In [21]:
# Continue with reduceByKey
# Notice how it assumes that the first item is the key!
# reducebykey assume that the data is 2 pair
cleanServ.map(lambda lst: (lst[3],lst[-1]))\
         .reduceByKey(lambda amt1,amt2 : float(amt1)+float(amt2))\
         .collect()

[('State', 'Amount'), ('NY', 850.0), ('TX', 650.0), ('CA', 700.0)]

We can continue our analysis by sorting this output:

In [22]:
# Grab state and amounts
# Add them
# Get rid of ('State','Amount')
# Sort them by the amount value
cleanServ.map(lambda lst: (lst[3],lst[-1]))\
.reduceByKey(lambda amt1,amt2 : float(amt1)+float(amt2))\
.filter(lambda x: not x[0]=='State')\
.sortBy(lambda stateAmount: stateAmount[1], ascending=False)\
.collect()

[('NY', 850.0), ('CA', 700.0), ('TX', 650.0)]

In [23]:
# step1: grab (state, amount)
step1 = cleanServ.map(lambda lst: (lst[3],lst[-1]))
# step2: reducebykey, assume tuples with first is the key
step2 = step1.reduceByKey(lambda amt1, amt2: float(amt1)+float(amt2))
# step3: get rid the state, amount in titles
step3 = step2.filter(lambda x: not x[0]=='State') # columns 0, key
# step4 : sort by amount 
step4= step3.sortBy(lambda sa: sa[1], ascending=False)  # sort by column amount [1]
# action: collect result
step4.collect()

[('NY', 850.0), ('CA', 700.0), ('TX', 650.0)]

In [24]:
step4.collect()

[('NY', 850.0), ('CA', 700.0), ('TX', 650.0)]

** Remember to try to use unpacking for readability. For example: **

In [25]:
x = ['ID','State','Amount']

In [26]:
def func1(lst):
    return lst[-1]

In [27]:
# unpack values 
def func2(id_st_amt):
    # Unpack Values for readability
    (Id,st,amt) = id_st_amt # unpack show cleary the values each columns, readability
    return amt

In [28]:
func1(x)

'Amount'

In [29]:
func2(x)

'Amount'

# Great Job!